*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header > div{
    padding:20px;
}

.cella{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100px;
    background-color: #7fffd4 ;
    border: 1px solid black;
}